.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
}
.subContainer {
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
}
.progressBar {
  height: 25px;
  border-radius: 6px;
  background-color: darkgrey;
  animation: myfirst 5s linear 2s infinite alternate;
}
@keyframes myfirst {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
  }
}
/* .flashCard {
}
.element {
}
.card {
}
.control {
} */
