.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 400px;
  --main-color: rgb(139, 141, 142);
}
.subContainer {
  display: flex;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.subContainer.flashCard {
  flex-direction: column;
  padding: 0 0 8px 0;
}
.progressBar {
  display: flex;
  height: 30px;
  border-radius: 6px;
  background-color: var(--main-color);
  transition: flex-grow 0.25s linear;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-end;
}
.remainingQuestions {
  position: absolute;
  right: 2%;
  font-weight: 700;
  font-size: small;
}

/* flipping Element Q/A Card */
.element.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px 0 25px;
  height: 150px;
  position: relative;
  perspective: 150rem;
}
.subElementBody {
  display: flex;
  position: absolute;
  transition: all 0.8s ease-in-out;
  backface-visibility: hidden;
}
.answer {
  transform: rotateY(-180deg);
}

.rollbackward {
  transform: rotateY(180deg);
}
.rollforward {
  transform: rotateY(0deg);
}

.element.control {
  display: flex;
  justify-content: space-around;
}
