.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 400px;
}
.subContainer {
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
}
.subContainer.flashCard {
  min-height: 25px;
}
.progressBar {
  display: flex;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(237, 127, 127);
  animation: myfirst 5s linear 2s forwards;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-end;
}
.remainingQuestions {
  position: absolute;
  right: 2%;
  font-weight: 700;
  font-size: small;
}
@keyframes myfirst {
  0% {
    flex-grow: 0;
  }
  100% {
    flex-grow: 1;
  }
}
/* .flashCard {
}
.element {
}
.card {
}
.control {
} */

/* flipping Element Q/A Card */
.element.card {
  position: relative;
  perspective: 150rem;
}
.subElementBody {
  position: absolute;
  transition: all 0.8s ease-in-out;
  backface-visibility: hidden;
}

#answer {
  transform: rotateY(-180deg);
}

.element.card:hover #question {
  transform: rotateY(180deg);
}
.element.card:hover #answer {
  transform: rotateY(0deg);
}
